:root {
  --color-1:#aa6fcf;
  --color-2:#e0e0e0;
  --color-3:#d63a32;
  --color-4:#2eb194;

  --bg-1:#302e3a;
  --bg-2:#3d3049;
  --bg-3:#0d0c0e;
  --bg-4:#1c1c20;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  height: 100vh;
  /* transition: color 0.5s, background-color 0.5s; */
  font-family: Roboto, Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}